<div class="modal modal-blur fade" id="modal-request" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-1 modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New Request</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Title</label>
						<input type="text" class="form-control" id="new-request-title">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Description</label>
						<textarea class="form-control" id="new-request-description"></textarea>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Type</label>
						<select type="text" class="form-select tomselected ts-hidden-accessible" id="new-request-type"
							value="" tabindex="-1">
							<!-- Options will be added by JS -->
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Department</label>
						<select type="text" class="form-select tomselected ts-hidden-accessible" id="new-request-department"
							value="" tabindex="-1">
							<!-- Options will be added by JS -->
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="new-request-submit">Submit</button>
			</div>
		</div>
	</div>
</div>