<div class="modal modal-blur fade" id="resolve-request-modal" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-status bg-success"></div>
			<div class="modal-body text-center py-4">
				<h3>Resolve Request?</h3>
				<p class="text-secondary" id="resolve-secondary-text">Secondary text</p>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<a href="#" class="btn btn-3 w-100" data-bs-dismiss="modal">Cancel</a>
						</div>
						<div class="col">
							<a href="#" class="btn btn-success btn-4 w-100" data-bs-dismiss="modal" id="resolve-request-btn">Resolve Request</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>