<div class="modal modal-blur fade" id="modal-request-view" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-1 modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-1" ><div id="priority-view-badge"><span class="badge bg-purple text-purple-fg"></div></span></div>
				<div class="col-2"><span class="badge bg-purple text-purple-fg" id="outage-view-badge"></span></div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row align-items-end">
					<div class="col">
						<div class="mb-3">
							<label class="form-label">Title</label>
							<input type="text" class="form-control" name="title-view-field" id="title-view-field"
								placeholder="Empty" value="Gotta fix that thang" readonly="">
						</div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="col">
						<div class="mb-3">
							<label class="form-label">Description</label>
							<textarea readonly="" class="form-control" name="description-view-field"
								id="description-view-field" rows="6" placeholder="Content.."
								style="height: 153px;"></textarea>
						</div>
					</div>
				</div>
				<div class="mb-3">
					Created: <strong id="created-view-date"></strong>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<label class="form-label">Type</label>
						<input type="text" class="form-control" name="type-view-field" id="type-view-field"
							placeholder="Empty" value="Change" readonly="">
					</div>
					<div class="col-6">
						<label class="form-label">Department</label>
						<input type="text" class="form-control" name="department-view-field" id="department-view-field"
							placeholder="Empty" value="IT" readonly="">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<label class="form-label">Team</label>
						<input type="text" class="form-control" name="team-view-field" id="team-view-field"
							placeholder="Empty" value="Engineering" readonly="">
					</div>
					<div class="col-6">
						<label class="form-label">Assignee</label>
						<input type="text" class="form-control" name="assignee-view-field" id="assignee-view-field"
							placeholder="Empty" value="Brandon Quinn" readonly="">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-request-view-updates">Updates<span class="badge bg-blue text-blue-fg ms-2" id="update-btn-count-badge">1</span></a>
				<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resolve-request-modal">Resolve</a>
			</div>
		</div>
	</div>
</div>