<div class="modal modal-blur fade" id="modal-new-user" tabindex="-1" role="dialog" aria-modal="true">
	<div class="modal-dialog modal-3 modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New User</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3 align-items-end">
					<div class="col">
						<label class="form-label">First Name</label>
						<input type="text" id="new-user-firstname" class="form-control is-invalid is-valid-lite">
					</div>
					<div class="col">
						<label class="form-label">Last Name</label>
						<input type="text" id="new-user-lastname" class="form-control is-invalid is-valid-lite">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<label class="form-label">Username/Email</label>
						<input type="text" id="new-user-description" class="form-control is-invalid is-valid-lite">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<label class="form-label">Password</label>
						<div class="input-group input-group-flat">
							<input type="password" class="form-control" autocomplete="off">
							<span class="input-group-text">
								<a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Hide Password"
									data-bs-original-title="Hide Password"><!-- Download SVG icon from http://tabler.io/icons/icon/x -->
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="icon icon-2">
										<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
										<path d="M9 9h.01"></path>
										<path d="M4 15h4"></path>
									</svg></a>
								<a href="#" class="link-secondary ms-2" data-bs-toggle="tooltip"
									aria-label="Generate Password"
									data-bs-original-title="Generate Password"><!-- Download SVG icon from http://tabler.io/icons/icon/adjustments -->
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2">
										<path d="M16 21h3c.81 0 1.48 -.67 1.48 -1.48l.02 -.02c0 -.82 -.69 -1.5 -1.5 -1.5h-3v3z"></path>
										<path d="M16 15h2.5c.84 -.01 1.5 .66 1.5 1.5s-.66 1.5 -1.5 1.5h-2.5v-3z"></path>
										<path d="M4 9v-4c0 -1.036 .895 -2 2 -2s2 .964 2 2v4"></path>
										<path d="M2.99 11.98a9 9 0 0 0 9 9m9 -9a9 9 0 0 0 -9 -9"></path>
										<path d="M8 7h-4"></path>
									  </svg></a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal"
					id="submit-new-user-btn">Done</button>
			</div>
		</div>
	</div>
</div>