<!-- assigned_request_table_t.html -->
<!-- This file contains the HTML template for displaying unassigned requests in a simple table format. -->

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Your Requests</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-vcenter card-table assigned-request-table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Department -> Team</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody id="request-table-body">
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%include file="dashboard_elements\detailed_edit_request_modal_t.html" />