<div class="card">

    <div class="card-header">
        <span class="badge bg-purple text-purple-fg">P1</span>
    </div>

    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Updates</th>
                    <th>Created</th>
                    <th>Assigned To</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody id="p1-request-table-body">
                <tr>
                    <td>Big Issue Number 1</td>
                    <td class="text-secondary">4</td>
                    <td class="text-secondary"><a href="#" class="text-reset">21/04/1995
                            10:00am</a></td>
                    <td class="text-secondary">Brandon Quinn</td>
                    <td>
                        <a href="#">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>