<!-- unassigned_request_table_simple_t.html -->
<!-- This file contains the HTML template for displaying unassigned requests in a simple table format. -->

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Unassigned Requests</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-vcenter card-table simple-unassigned-request-table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody id="p1-request-table-body">
                <tr>
                    <td>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-indeterminate"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%include file="dashboard_elements\department_edit_request_modal_t.html" />