<div class="card">

    <div class="card-header">
        <h1 class="card-title">Unassigned Requests</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-vcenter card-table simple-unassigned-request-table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody id="p1-request-table-body">
                <tr>
                    <td><span class="badge bg-purple text-purple-fg">P1</span></td>
                    <td>Big Issue Number 1</td>
                    <td class="text-secondary">4</td>
                    <td class="text-secondary"><a href="#" class="text-reset">21/04/1995
                            10:00am</a></td>
                    <td>
                        <a href="#">View</a>
                    </td>
                </tr>
                <tr>
                    <td><span class="badge bg-red text-red-fg">P2</span></td>
                    <td>Big Issue Number 1</td>
                    <td class="text-secondary">4</td>
                    <td class="text-secondary"><a href="#" class="text-reset">21/04/1995
                            10:00am</a></td>
                    <td>
                        <a href="#">View</a>
                    </td>
                </tr>
                <tr>
                    <td><span class="badge bg-orange text-orange-fg">P3</span></td>
                    <td>Big Issue Number 1</td>
                    <td class="text-secondary">4</td>
                    <td class="text-secondary"><a href="#" class="text-reset">21/04/1995
                            10:00am</a></td>
                    <td>
                        <a href="#">View</a>
                    </td>
                </tr>
                <tr>
                    <td><span class="badge bg-yellow text-yellow-fg">P4</span></td>
                    <td>Big Issue Number 1</td>
                    <td class="text-secondary">4</td>
                    <td class="text-secondary"><a href="#" class="text-reset">21/04/1995
                            10:00am</a></td>
                    <td>
                        <a href="#">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>