<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Page 404 - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
	<script defer="" data-api="/stats/api/event" data-domain="preview.tabler.io" src="/stats/js/script.js"></script>
	<meta name="msapplication-TileColor" content="#066fd1">
	<meta name="theme-color" content="#066fd1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<link rel="icon" href="./favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<meta name="description"
		content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
	<meta name="canonical" content="https://tabler.io/demo/error-404.html">
	<meta name="twitter:image:src" content="https://tabler.io/demo/static/og.png">
	<meta name="twitter:site" content="@tabler_ui">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title"
		content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
	<meta name="twitter:description"
		content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
	<meta property="og:image" content="https://tabler.io/demo/static/og.png">
	<meta property="og:image:width" content="1280">
	<meta property="og:image:height" content="640">
	<meta property="og:site_name" content="Tabler">
	<meta property="og:type" content="object">
	<meta property="og:title"
		content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
	<meta property="og:url" content="https://tabler.io/demo/static/og.png">
	<meta property="og:description"
		content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
	<!-- CSS files -->
	<link href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css" rel="stylesheet">
	<style>
		@import url('https://rsms.me/inter/inter.css');
	</style>
</head>

<body class=" border-top-wide border-primary d-flex flex-column">
	<script src="./dist/js/demo-theme.min.js?1737211455"></script>
	<div class="page justify-content-center">
		<div class="container-tight py-4">
			<div class="empty">
				<div class="empty-icon"><!-- Download SVG icon from http://tabler.io/icons/icon/settings -->
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="icon">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path
							d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
						</path>
						<path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
					</svg>
				</div>
				<p class="empty-title">404 - Bit lost mate?</p>
				<p class="empty-subtitle text-secondary">
					Head back and see if you can find what you're looking for.
				</p>
				<div class="empty-action">
					<a href="./." class="btn btn-primary">
						<!-- Download SVG icon from http://tabler.io/icons/icon/arrow-left -->
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="icon">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path d="M5 12l14 0"></path>
							<path d="M5 12l6 6"></path>
							<path d="M5 12l6 -6"></path>
						</svg>
						Take me home
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Libs JS -->
	<!-- Tabler Core -->
	<script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>

</body>

</html>