<div class="modal modal-blur fade" id="modal-request" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-1 modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New Request</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Title</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Description</label>
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12">
						<label class="form-label">Type</label>
						<select type="text" class="form-select tomselected ts-hidden-accessible" id="select-users"
							value="" tabindex="-1">
							<option value="3">Work/Labor</option>
							<option value="3">Maintenance/Repair</option>
							<option value="4">Change</option>
							<option value="1">Disposal</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>