<div class="modal modal-blur fade" id="permission-denied-modal" tabindex="-1" aria-modal="true"
	role="dialog">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-status bg-danger"></div>
			<div class="modal-body text-center py-4">

				<h3 id="permission-denied-modal-title">Permission Denied</h3>
				<div id="permission-denied-modal-message">Error message.</div>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<a href="#" class="btn btn-3 w-100" data-bs-dismiss="modal">Thanks...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>