<div class="page-body">
	<div class="container-xl">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Last commits</h3>
				</div>
				<div class="list-group list-group-flush list-group-hoverable">
					<div class="list-group-item">
						<div class="row align-items-center">
							<div class="col-auto"><span class="badge bg-yellow text-yellow-fg">P4</span></div>
							<div class="col-auto">

							</div>
							<div class="col text-truncate">
								<a href="#" class="text-reset d-block">Paweł Kuna</a>
								<div class="d-block text-secondary text-truncate mt-n1">Change deprecated
									html tags to text decoration classes (#29604)</div>
							</div>
							<div class="col-auto">
								<a href="#" class="btn btn-6 btn-primary active w-100">View</a>
							</div>
							<div class="col-auto">
								<button class="btn">Updates<span
										class="badge bg-blue text-blue-fg ms-2">1</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>